HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
bin
.ipynb_checkpoints

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.xml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### .DS_Store ###
.DS_Store

## Java .class files ##
*.class

## Node ##
node_modules

### Python ###
*.pyc
__pycache__/
.venv/